@mixin border-radius($radius) { 
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius; 
    -ms-border-radius: $radius; 
    border-radius: $radius; 
} 
 
.panel { 
    @include border-radius(4px); 
} 
 
.login-box { 
    @include border-radius(10px); 
}
